* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}
.div-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  }
.div-inputs input{
  margin-top: 15px;
  margin-left: 15px;

}


.div-checkbox {

display: flex;
flex-direction: column;
}

.div-checkbox input{
margin-left: 15px;
margin-top: 10px;
}
.div-radio{
  margin-top:10px;
  flex-direction: column;
 
}
.div-radio input{
  margin-top:10px;
 margin-left: 15px;
  flex-direction: row;
 
}
.textarea{
  margin-top: 15px;
  display: flex;
}
.textarea textarea{

 margin-left: 15px;

}
.btnEnviar{
  margin-left: 15px;
  margin-top: 5px;
}  
.footer{
  width: 100%;
  background-color: rgb(50, 167, 145);
  text-align: center;
}







#trybewarts-header-title {
  justify-content: center;
  align-self: center;
}




#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#test-div {
  display: flex;
  flex-direction: row;
}
#validacao{

  margin-top: 15px;
}
main {
  display: flex;
}
footer{

  margin-top: 15px;
}