* {
  margin: 0;
  padding: 0;
}

.header {
  border:1px solid blue;
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}
.div-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  }
.div-inputs input{
  margin-top: 15px;
}
#trybewarts-header-title {
  justify-content: center;
  align-self: center;
}


main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#test-div {
  display: flex;
  flex-direction: row;
}
#